header{
    background: url('blue.jpg');
    height: 20em;
    width:100%;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: 700;
    font-family:monospace;
    
}

#search{
    width: 400px; 
}

.navbar-brand{
    font-weight: 700;
    border-right: 1px solid rgb(239, 234, 234);
    
}

.nav-item {
    border-right: 1px solid  rgb(239, 234, 234);
    color: black;
}

.nav-item:last-child {
    border-right: none;

}

.navbar{
    background-color:whitesmoke ;
}


.fieldsett{
    height: 10em;
    width: 15em;
    background-color:rgb(228, 228, 228) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   
}

.button-container
{
    text-align: center;
}

footer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color:rgb(228, 228, 228) ;
    align-items: center;
}

img{
    height: 10em;
    width: 15em;
}
